header {
  padding-block: 2rem;
  background-color: white;
}

header h1 {
  text-align: center;
  line-height: 1.1;
}

.error-boundary {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.error-boundary .wrapper > * + * {
  margin-top: 0.75rem;
}

.error-boundary h2 {
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 1.1;
  color: #b91c1c;
}

.error-boundary pre {
  font-size: 0.9rem;
}

.error-boundary button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 2rem;
  color: #fff;
  background-color: #082f49;
}
