@import url("https://rsms.me/inter/inter.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-feature-settings: "ss03", "cv08", "cv11", "cv02" 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select,
a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

body {
  line-height: 1.5;
  font-weight: 400;
  color: #082f49;
  background-color: #fafafa;
}

.wrapper {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
