.repo-list {
  margin-block: 4rem;
}

.repos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.repo {
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #082f49;
  background-color: #f0f9ff;
}

.repo:has(a:hover) {
  background-color: #e0f2fe;
}

.repo h2 {
  font-size: 1.25rem;
}

.repo a {
  text-decoration: none;
}

@media (max-width: 50em) {
  .repos {
    grid-template-columns: 1fr;
  }
}

.view-more-div {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.view-more-btn {
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-inline: auto;
  color: #e0f2fe;
  background-color: #082f49;
}

.view-more-btn:hover {
  background-color: #0c4a6e;
}
