*:focus {
  outline-color: #082f49;
}

.repo-list {
  margin-block: 3rem;
}

.repo-list__search {
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
}

.repo-list__search svg {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  fill: #777e8a;
}

.repo-list__search svg.hidden {
  display: none;
}

.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.repo-list__search input {
  width: 100%;
  padding: 1rem;
  padding-left: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  background-color: white;
}

.repo-list__search input:hover {
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.repo-list__search input:focus {
  outline-color: #082f49;
}

.repo-list__search button {
  flex-shrink: 0;
  cursor: pointer;
  font-size: 0.875rem;
  text-transform: capitalize;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: white;
  outline-color: #082f49;
  background-color: #082f49;
}

.repo-list__search button:hover {
  background-color: #0c4a6e;
}

.repos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.repo {
  position: relative;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #082f49;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.15s ease;
}

.repo__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.repo__title img {
  width: 8%;
}

.repo h2 {
  font-size: 1.25rem;
}

.repo a {
  text-decoration: none;
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.repo:has(a:hover) {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 6px 14px rgba(0, 0, 0, 0.08);
}

@media (max-width: 75em) {
  .repos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 50em) {
  .repos {
    grid-template-columns: 1fr;
  }
}

.loading-more-repos {
  display: grid;
  align-items: end;
  justify-content: center;
  padding-top: 1rem;
}

.view-more-div {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.view-more-btn {
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-inline: auto;
  color: white;
  background-color: #082f49;
}

.view-more-btn:hover {
  background-color: #0c4a6e;
}

.view-more-btn[data-disabled="true"] {
  pointer-events: none;
}

.loading-repos {
  display: grid;
  place-items: center;
}
